{# src/Fenix/ProvaBundle/Resources/views/Prova/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<h1>Hello {{ name }}!</h1>
<h2>He estat generat amb Twig!</h2>
<p>Aquesta ha estat la meva primera prova amb Twig en particular, i amb Symfony en general</p>
<p>Els propers dies em dedicaré a anar creant una aplicacio d'<strong>Inventari per a la EASDIB</strong> i
d'aquesta manera anar perseverant en els <i>nuts and bolts</i> - si realment s'escriu així - d'aquest
Framework tan potent
</p>
{% endblock %}