<html>
  <head>
	<link href="{{ asset('bundles/ESDIBInventari/css/listings.css') }}" rel="stylesheet" />
  </head>
<body>



<div id="listing_header">
    <div id="pageName">Items</div>
</div>

<!-- PRINT FORM AND ROWS -->

<!-- VIEWER --><!-- Rows -->
    <table class="listing">
        <thead><tr>
			{% block rotuls %}{% endblock %}
        </tr></thead>  
        <tbody>
			{% block files %}{% endblock %}
        </tbody>        
    </table>
</body>
</html>